<h1>Minimee Syntax</h1>

<p>There are now 3 "types" of tags available:</p>

<ol>
	<li>"Traditional" tag pairs, which wrap &lt;link> or &lt;script> tags, parses them to find assets, and creates cache</li>
	<li>An "API" tag interface which operates entirely off of parameter values. By default it recieves an asset url, and returns a URL to its cache</li>
	<li>"Display" tags which are used for assets which have been queued for later output</li>
</ol>

<h2>"Traditional"</h2>

{exp:minimee:css}
    <link href="{stylesheet=global_embeds/reset}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{stylesheet=global_embeds/site_css}" type="text/css" rel="stylesheet" media="screen" />
{/exp:minimee:css}

{exp:minimee:js:embed}
	<script src="{site_url}themes/site_themes/agile_records/js/jquery.js" type="text/javascript"></script>
{/exp:minimee:js:embed}

<h2>"API"</h2>

{exp:minimee css="{stylesheet=global_embeds/site_css}"}

{exp:minimee css="{stylesheet=global_embeds/site_css}"
			 queue="head"}

{exp:minimee:display:tag css="head"}


<h2>Cache a single file and return URL:</h2>
{exp:minimee css="{stylesheet=global_embeds/site_css}"}
{exp:minimee css="{stylesheet=global_embeds/site_css},{stylesheet='global_embeds/css_screen-ie7'}"}
{exp:minimee css="{stylesheet=global_embeds/site_css}|{stylesheet='global_embeds/css_screen-ie7'}"
			 combine="no"
			 files_delimiter="|"}

<h2>Cache a single file and return contents:</h2>

{exp:minimee:css:contents}
    <link href="{stylesheet=global_embeds/site_css}" type="text/css" rel="stylesheet" media="screen" />
{/exp:minimee:css:contents}


<h2>Demo</h2>

{exp:minimee:css attribute:type="text/css"}
    <link href="{stylesheet=global_embeds/site_css}" type="text/css" rel="stylesheet" media="screen" />
{/exp:minimee:css}
<!--[if IE 7]><link href="{exp:minimee queue="css" priority="2" css="{stylesheet='global_embeds/css_screen-ie7'}"}" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
<!--[if IE 6]><link href="{exp:minimee queue="css" priority="1" css="{stylesheet='global_embeds/css_screen-ie6'}"}" type="text/css" rel="stylesheet" media="screen" /><![endif]-->

{exp:minimee:display:tag css="css" attribute:type="text/css"}